.siteLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-hover);
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.siteLogo > h3 {
  display: none;
}

@media (min-width: 768px) {
  .siteLogo > h3 {
    display: block;
  }
}