.recipeDescriptionStats {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}

.recipeDescriptionStats div > span {
  font-weight: 500;
}

.recipeDescriptionStats div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}

.difficulty{
  color: greenyellow;
}

.cookTimeMinutes{
  
}

.rating{
  color: red;
}
