@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-primary: #080A1C;
  --bg-secondary: #111234;
  --bg-hover: #1F2342;
  
  --text-primary: #F9FBFC;
  --text-secondary: #989BA5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 1rem 2rem;
}